<ion-header>
  <ion-toolbar>
    <ion-title>
      <!-- With pipe -->
      {{ 'HOME.title' | translate }}
    </ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="openLanguagePopover($event)">
          <ion-icon name="more" slot="icon-only">
          </ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <!-- With pipe and parameters -->
    <ion-text color="primary">{{ 'HOME.greeting' | translate:params }}</ion-text>
  </div>
  <div>
    <!-- With directive -->
    <ion-text color="secondary" [translate]="'HOME.age'" [translateParams]="params"></ion-text>
  </div>
  <div>
    <!-- With directive and html -->
    <ion-text color="secondary" [innerHTML]="'HOME.withcode' | translate"></ion-text>
  </div>

  <ion-button expand="block" (click)="showAlert()">
      {{ 'HOME.btn' | translate }}
    </ion-button>
</ion-content>
